a:link {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
	font-variant: small-caps;
}
a:visited {

	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
	font-variant: small-caps;
}
a:hover {


	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #003399;
	text-decoration: underline;
	font-variant: small-caps;
}
.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	color: #666666;
}
.bodyCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
